{% extends "_layout" %}
{# One entry Detail pagina #}

{% block content %}
    
    <section class="clothing-details">
    <button class="button goBack" onclick="history.back()">Go Back</button>
    <div class="flexBox topDetail">  
        <img src="{{entry.bannerImage.one().url('bannerImage')}}" alt="">
        <div>
        <h2>{{entry.title}}</h2>
        <h3>{{entry.brand}}</h3>
        <p>{{entry.introText}}</p>
        <div class="flexBox2">
            <p><a href={{entry.storeUrl}}>AMAZON</a></p>
            <p class="money"> &euro; {{entry.price}}</p>
        </div>    
        </div>
    </div>
    <p>{{entry.fullText}}</p>
       
    </section>
{% endblock %}